{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "arrowParens": "always",
  "printWidth": 140
}
